

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Poppins', Arial, sans-serif;
    color: #1c1c1c;
}


.min-h-screen {
    min-height: 100vh;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
.text-center {
    text-align: center;
  }

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-even{
    justify-content: space-evenly;
}
.overflow-hide{
    overflow: hidden;
}
.border-collapse{
    border-collapse: collapse;
}
.


.bold {
    font-weight: 700;
}

.blue {
    color: #0b67d7;
}

.m1 {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 36px;
    font-weight: 700;
}

.m2{
    margin: 20px 10px;
}

.p1 {
    padding-left: 13px;
    padding-right: 13px;
    line-height: 1.6;
    color: #2f2f2f;
}
.top-color{
    background-color:;
}

.orange {
    color:#3869cf; 
    /*  */
}

/* ===== LEFT & RIGHT SECTIONS ===== */

.right {
    width: 50%;
    height: 370px;
}

/* ===== IMAGE ===== */
.right img {
    
    height: 381px; 
    object-fit: contain;
}
.left img{
    width:100px;
    
}


/* ===== BUTTON ===== */
.btn {
    padding: 10px 18px;
    margin: 2px;
    border-radius: 10px;
    border: none;
    background-color:#3869cf;;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color:#0f3078;;
}

/* ===== NAVBAR ===== */
nav {
    padding: 15px 0;
}

nav li {
    list-style: none;
    margin: 0 12px;
    cursor: pointer;
    font-weight: 500;
}

nav li:hover {
    color: #0f3078;;
}
